/*
    Color Palette:

    #FFEADD
    #FCAEAE
    #FF8989
    #FF6666
*/

* {
    margin: 0;
}

body {
    background-color: #DFC3C1;
    font-family: Arial, Helvetica, sans-serif;
    color: #45362C;
    box-sizing: border-box;
}

.index-page {
    text-align: center;
}

.recipe-list {
    list-style: none;
    padding: 0;
    margin: 15px;
}

.recipe-list li {
    font-size: 20px;
    margin: 8px;
}

a {
    color: #5E6378;
}

h1 {
    font-size: 45px;
    color: #FF6666;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    color: #D74248;
}

h3 {
    color: #B0172C;
}

img {
    width: 30rem;
    height: auto;
    border: 3px #879B7C groove;
    border-radius: 8px;
    margin-bottom: 20px;
}

.index-container {
    width: 800px;
    background-color: #FFEADD;
    margin: 0 auto;
    padding: 20px 0;
    border: 5px #8E7F92 solid;
}